header {
    padding: 30px 0px;
    text-align: center;
    background-color:#999999;
}

header a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

header a:hover, a:active {
    color: #666666;
  }